
<div class="row">
    <%= render "/shared/loginnav" %>
</div>
<div calss ="row">
    <%= image_tag("shopping2.jpg", size: "1370x520") %>
    <div class="col-md-6 float-end centered">
      <button id="MybtnModal" class="btn btn-outline-success float-end mt-3 me-4" type="submit">Add New Category</button>
    </div>
</div>


