<div class="row">
    <%= render "/shared/nav" %>
</div>
<div class="row">
    <%= image_tag("home.jpg", size: "520x520") %>
    <div class="centered">
        <pre class="fst-italic fw-bold fs-5">Whatever you need,you can buy here everything.
You can buy easily at home.You have already account.
Please <%= link_to "Login!", login_path%>
        </pre>
    </div>
</div>
<style>
.centered {
  position: absolute;
  position: fixed;
  top: 25%;
  left: 30%;
}
</style>